@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&display=swap');

// Colors
$raisin_black: #2d232e;
$alabaster: #F1F0EA;

// Layout
$layout_max_width: 960px;

// Font
$heading_font: 'Lora', serif;
$heading_normal: 400;
$heading_bold: 700;

$body_font: 'Nunito Sans', sans-serif;
$body_thin: 200;
$body_normal: 400;
$body_bold: 900;