@import "../../base_styles/variables";

.Search {
    margin: 1rem auto;
    max-width: $layout_max_width;
    width: 80%;
    label {
        display: none;
    }
    input {
        padding: 0.5rem;
        border: none;
        background-color: $alabaster;
        width: 100%;
    }
    @include medium_or_up {
        width: 30%;
        margin: 1rem 0;
    }
}