@import "../../base_styles/variables";

.Search {
    width: 100%;
    margin-top: .5rem;
    @include medium_or_up {
        margin-top: 0;
        width: 30%;
    }
    label {
        display: none;
    }
    input {
        padding: 0.5rem;
        width: 100%;
    }
}
